name: 'Plan'

on:
  # pull_request:
  #   types: [opened, synchronize, reopened]
  workflow_run:
    workflows: ["Validate"] 
    types: [completed]
    branches:
      - '**'
      - '!main'

permissions:
  contents: read

jobs:
  build:
    name: 'Create a file'
    if: |
      github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'pull_request'
    runs-on: ubuntu-latest
    environment: test
    outputs:
      run-id: ${{ github.run_id }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Create a file
      run: 'echo "This is a test file from runner_id: ${{ github.run_id }}" > testfile.txt'

    - name: Upload Test File Artifact
      uses: actions/upload-artifact@v4
      with:
        name: testfile-${{ github.event.number }}
        path: testfile.txt
