name: 'Build'

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
  workflow_call:
    outputs:
      run-id:
        description: "The run ID of the build workflow"
        value: ${{ jobs.build.outputs.run-id }}

permissions:
  contents: read

jobs:
  build:
    name: 'Create a file'
    runs-on: ubuntu-latest
    environment: test
    outputs:
      run-id: ${{ github.run_id }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Create a file
      run: 'echo "This is a test file from runner_id: ${{ github.run_id }}" > testfile.txt'

    - name: Upload Test File Artifact
      uses: actions/upload-artifact@v4
      with:
        name: testfile-${{ github.event.number }}
        path: testfile.txt
