

on:
  push:
    branches-ignore: [ 'main' ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    name: 'Validate'
    runs-on: ubuntu-latest
    environment: test

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Validate
      run: |
        pwd
        ls -A